<div class="jumbotron" style="background-color:#CFD8DC;">
<% unless @akg.nil? %>
  <center>
    <h4>Angka Kecukupan Gizi kamu adalah:</h4>
    <h2><font color="green"><%= @akg %></font> Kalori per Hari</h2>
  <p></p>

  * Perkiraan kalori Angka Kecukupan Gizi (AKG) berdasarkan jenis kelamin, berat badan, tinggi badan, usia dan tingkat aktivitas kamu.
  </center>


<% end %>
</div>
