<div class="jumbotron" style="background-color:#CFD8DC;">
<% unless @result.nil? %>
  <% if params[:tinggi].to_i < 145 %>
    <h3><center>Maaf, untuk menggunakan metode <strong>Broca</strong> minimal tinggi badan kamu harus <strong>145 cm</strong>. Terimakasih</center></h1><p></p> 
  <% else %>
    <h3><center>Tinggi badan kamu adalah <strong><%= params[:tinggi] %> cm</strong></center></h3>
    <h3><center>Perkiraan Berat Ideal Kamu adalah:</center></h3> 
    <h1><center><%= @result %> kg</center></h1> 
    <center>*Hitung juga dengan metode BMI pada menu Pilih Kalkulator untuk mengetahui minimal dan maximal berat badan ideal kamu.</center>
  <% end %>
<% end %>
</div>
