<div class="jumbotron" style="background-color:#CFD8DC;">
<% unless @bmi.nil? %>
  <center>
    <h3>Nilai BMI kamu adalah <strong>"<%= @bmi.round(1) %>"</strong></h3>
    Status berat badan kamu adalah <strong><%=raw @status_bb.html_safe %></strong></br> 
    Perkiraan berat ideal <strong>minimal</strong> adalah <strong>"<%= @berat_min.round(1) %> kg"</strong></br>
    Perkiraan berat ideal <strong>maximal</strong> adalah <strong>"<%= @berat_max.round(1) %> kg"</strong></br>
  </center>
  <p></p>
    <table class='table'>
      <thead>
        <tr>
          <th>BMI</th>
          <th>Status Berat Badan</th>
        </tr>
      </thead>
      <tbody>
        <tr class='warning'>
          <td>Kurang dari 18.5</td>
          <td>Kekurangan berat badan</td>
        </tr>
        <tr class='success'>
          <td>18.5 - 24.9</td>
          <td>Normal (ideal)</td>
        </tr>
        <tr class='warning'>
          <td>25.0 - 29.9</td>
          <td>Kelebihan berat badan</td>
        </tr>
        <tr class='danger'>
          <td>30.0 atau lebih</td>
          <td>Kegemukan (obesitas)</td>
        </tr>
      </tbody>

    </table>

<% end %>
</div>
