<div class="container">

  <div class="jumbotron">

    <ul class="nav nav-tabs" id="myTab">
      <div class="navbar-header">
        <div class="navbar-brand">Pilih Kalkulator</div>
      </div>
      <li class="active"><a data-toggle="tab" href="#broca">Broca</a></li>
      <li ><a data-toggle="tab" href="#bmi">BMI</a></li>
      <li ><a data-toggle="tab" href="#kalori">Kalori</a></li>
    </ul>

    <div class="tab-content">
      <div id="broca" class="tab-pane fade in active">
        <%= render 'broca' %>
      </div>

      <div id="bmi" class="tab-pane fade">
        <%= render 'bmi' %>
      </div>

      <div id="kalori" class="tab-pane fade">
        <%= render 'kalori' %>
      </div>
    </div>

  </div>

  <div class="powered">
    <p><h6>Developed by <a href="https://papooa.com/" target="_blank">Papooa</a></h6></label></p> 
  </div>

</div>
