<!DOCTYPE html>
<html>
  <head>
    <title>Kalkulator Berat Badan Ideal</title>
    <meta charset="UTF-8">
    <meta property="og:title" content="Kalkulator Berat Badan Ideal Berdasarkan Tinggi Badan">
    <meta property="og:description" content="Kalkulator Berat Badan Ideal Berdasarkan Tinggi Badan">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container' style='padding-top:50px;'>
        <%= yield %>
    </div>
  </body>
</html>
